<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Bem vindo!</title>
</h:head>
<h:body>
	<b:navBar brand="XERETA" brandHref="#" inverse="true">
		<b:navbarLinks>
			<b:navLink value="LogEAI" href="#"></b:navLink>
			<b:navLink value="Pedidos" href="#"></b:navLink>
			<b:navLink value="Tutorial" href="#"></b:navLink>
		</b:navbarLinks>
	</b:navBar>

	<b:container>
		<h1>Xereta!</h1>
		<p>
			Esta é uma ferramenta interna utiliza para pesquisa de Logs ou
			Pedidos tramitados nos mecanimos OMS ou NovoOMS. <br /> <br /> Para
			utilizar:
			<ul>
				<li>Log EAI:</li>
				<p>Basta possuir o TrackingID, SOATAG.</p>
				<p>É possivel fazer buscas, filtrando pelo DIA.</p>
			</ul>
		</p>
	</b:container>
	<b:container>
		<p:dataTable value="#{logeai.allLogs}" var="log" rows="10">
			<p:column>
				<f:facet name="header">TrackingID</f:facet>
				#{log.trackingid}
		</p:column>
		</p:dataTable>
	</b:container>
</h:body>
</html>